html {
 	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
}

.orderimg{
	height: 200px;
	width: 200px;
}

.header{
	width: 100%;
	height: 100px;
	background-color: #A6BBBE;
	position: fixed;
	padding-top: 0.5%;
	z-index: 50;
}
#hidhead{
	width: 100%;
	height: 50px;
	background-color: #A6BBBE;
	display: none;
}
.menu01 a{
	margin-left: 3%;
	color: white;
	text-decoration: none;
}
.menu02{
	padding-top: 2%;
}
.menu02 a{
	color: white;
	text-decoration: none;
	float: right;
	margin-right: 12.5%;
}
#insign{
	display: none;
	float: right;
}
#headeruser{
	position: relative;
	top: -10px;
}
.whitebut{
	height: 30px;
	border-radius: 10%;
	border: 2px white solid;
	color: #2089CF;
	transition: 0.5s;
	margin-left: 40px;
}
.whitebut:hover{
	background-color: #2089CF;
	color: white;
}
.logo{
	height: 75px;
	width: auto;
}
.logo1{
	height: auto;
	width: 30px;
}
.vl{
	border-left: 2px solid white;
  	height: 50px;
  	position: absolute;
 	right: 36%;
  	top: 10%;
}
.body01{
	padding-top: 8.5vw;
	padding-bottom: 5vw;
}
.body02{
	padding-top: 7vw;
	padding-bottom: 7vw;
	border: 1px solid black;
}
#hidorder{
	transition: 0.5s;
	opacity: 0;
	width: 100vw;
	height: 100%;
	background-color: white;
	position: fixed;
	left: 0.1%;
	top: 0.1%;
	padding: 10px;
	z-index: -10;
}
#hidback{
	position: fixed;
	transition: 0.5s;
	cursor: pointer;
	top: 0;
	width: 100vw;
	height: 100%;
	background-color: black;
	opacity: 0;
	z-index: -11;
}
#hidsure{
	position: fixed;
	transition: 0.5s;
	width: 30vw;
	height: 15%;
	left: 35%;
	top: 20%;
	background-color: white;
	padding-top: 20px;
	z-index: 101;
	text-align: center;
	display: none;
}
#hidhisor{
	position: fixed;
	transition: 0.5s;
	width: 40vw;
	height: 30%;
	left: 35%;
	top: 20%;
	background-color: white;
	padding-top: 20px;
	z-index: -10;
	opacity: 0;
	text-align: center;
}
#hidbackhi{
	position: fixed;
	transition: 0.5s;
	cursor: pointer;
	top: 0;
	width: 100vw;
	height: 100%;
	background-color: black;
	opacity: 0;
	z-index: -11;
}
.htu{
	margin-left: 1vw;
}
.htu img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	height: 10vw;
}
.htu p{
	text-align: center;
}
.mid{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.footer{
	padding-top: 1vw;
	padding-bottom: 0.5vw;
	background-color: #A6BBBE;
	width: 100%;
}
#hidfoot{
	width: 100%;
	height: 50px;
	background-color: #A6BBBE;
	display: none;
	text-align: center;
	color: white;
	padding-top: 10px;
}
.fmenu{
	padding-top: 1vw;
}
.fmenu a, .fmenu p{
	color: white;
}
.icon{
	width: 40px;
	height: auto;
	margin-right: 20px;
}
.profile{
	border-radius: 75%;
	width: 150px;
	height: auto;
}
/*About*/
.about{
	height: 500px;
	padding-top: 8.5vw;
	margin-bottom: 5vw;
}
/*////////////////////Menu////////////////////*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  max-width: 576px;
  padding-top: 60px;
}

.sidebar a{
  padding: 8px 8px 8px 32px;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
  margin-top: 10%;
  transition: 0.5s;
}

.sidebar a:hover{
  color: #2089CF;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.avatar {
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	vertical-align: top;
}
.user-detail {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
    .user-detail__username {
        display: block;
        float: left;
        font-weight: 500;
    }
    .user-detail__role {

        display: block;
        font-style: normal;
        line-height: 13px;
        font-weight: 300;
    }

.openbtn {
  display: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 75%;
  position: fixed;
  left: 3%;
  top: 3%;
  transition: 0.5s;
  z-index: 100;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

.openbtn:hover {
  background-color: #2089CF;
  filter: drop-shadow(0 0 7px rgb(255, 255, 255, 1));
  fill: #8AF757;
}
/**/
@media all and (max-width: 1200px){
	.vl{
		right: 38%;
	}
	.header{
		height: 90px;
	}
	.body01{
		padding-top: 10vw;
}
}
@media all and (max-width: 992px){
	.header{
		display: none;
	}
	.openbtn{
		display: block;
	}
	#hidsure{
		width: 40vw;
	}
	#hidhead{
		display: block;
	}
	.footer{
		display: none;
	}
	#hidfoot{
		display: block;
	}
}
@media all and (max-width: 576px){
	.htu img{
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: auto;
		height: 25vw;
	}
	#hidsure{
		left: 20%;
		width: 70vw;
	}
}